{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="jumbotron">
	<div class="row" style="background-color:white;">
		<div class="col-md-7" style="background-color:white;">
		<h4>{% if job.title %} {{job.title |title}} {% else %} Job Title {% endif %} </h4>
		<hr>
		<img src="{{job.image_urls.0}}" id="job_img_main" width="100%" height="300" alt="..." class="img-rounded">
		<hr>
		<div class="row" style="padding:10px;">
			<img src="{{job.image_urls.0}}" id="job_img1" alt="job image 1" style="width:150px;height:150px">
			<img src="{{job.image_urls.1}}" id="job_img2" alt="job image 2" style="width:150px;height:150px">
			<img src="{{job.image_urls.2}}" id="job_img3" alt="job image 3" style="width:150px;height:150px">
		</div>
		<p><small>{{job.description |truncatechars:600}}</small></p>
		</div>
		<div class="col-md-5" style="background-color:white;">
	 		<h4>.</h4>
	 		<hr>
                <div class="panel panel-default">
                    <!-- <div class="text-center header">Location</div>-->
                    <div class="panel-body text-center">
                        <h4>Address</h4>
						<address>
						  <strong>{{job.posted_by.street.town_village.town_village_name}}</strong><br>
						  	{{job.posted_by.street.street_name}}<br>
						  Botswana<br>
						  <abbr title="Phone">P:</abbr> (267)-{{job.posted_by.mobile}}
						</address>
						
						<address>
						  <strong>{{job.posted_by.user.first_name}} {{job.posted_by.user.last_name}}</strong><br>
						  <a href="mailto:#">{{job.posted_by.user.email}}</a>
						</address>
                        <hr />
                        <div id="map1" class="map">
                        </div>
                    </div>
                </div>
  		</div>
		</div>
	</div>
</div>

<script src="http://maps.google.com/maps/api/js?sensor=false"></script>

<script type="text/javascript">
    jQuery(function ($) {
        function init_map1(lat, lon) {
            var myLocation = new google.maps.LatLng(lat, lon);
            var mapOptions = {
                center: myLocation,
                zoom: 16
            };
            var marker = new google.maps.Marker({
                position: myLocation,
                title: "Property Location"
            });
            var map = new google.maps.Map(document.getElementById("map1"),
                mapOptions);
            marker.setMap(map);
        }
        init_map1({{job.latitude|default_if_none:-24.6321302 }}, {{job.longitude|default_if_none:25.9321138}});
    });
    $( "#job_img1" ).mouseover(function() {
    	$( "#job_img_main" ).attr('src', $( "#job_img1" ).attr('src'));
    });
    $( "#job_img2" ).mouseover(function() {
    	//alert("ok");
    	$( "#job_img_main" ).attr('src', $( "#job_img2" ).attr('src'));
    });
    $( "#job_img3" ).mouseover(function() {
    	//alert("ok");
    	$( "#job_img_main" ).attr('src', $( "#job_img3" ).attr('src'));
    });
</script>

<style>
    .map {
        min-width: 300px;
        min-height: 300px;
        width: 100%;
        height: 100%;
    }

    .header {
        background-color: #F5F5F5;
        color: #36A0FF;
        height: 70px;
        font-size: 27px;
        padding: 10px;
    }
</style>
{% endblock %}
