{% extends "base.html" %}
<style>
.kv-avatar .file-preview-frame,.kv-avatar .file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}
.kv-avatar .file-input {
    display: table-cell;
    max-width: 220px;
}
</style>



{% block content %}

<form class="form-inline" action="{% url 'job_posting_url' %}" method="post">
        	{% csrf_token %}
          <div class="panel panel-info">
          	<table>
	            <div class="panel-heading">
	              <h3>Add a new Job</h3><h3 class="panel-title"></h3>
	            </div>
            </table>
            <div class="panel-body">
              <div class="row"> 
                <div class=" col-md-9 col-lg-9 ">
                <div id="markerStatus"><i>Click and drag the marker.</i></div>
                <input type="hidden" name="lat" id="latitude"><br> <input type="hidden" name="lon" id="longitude"> 
                  <table class="table table-user-information">
                    <tbody>
                      	<tr>
                      		<td>
		                       <label for="street">Street:</label>
		                       <input id="street" type="text" name="street" value="">
		                    </td>
		                    <td>
		                       <label for="town_village">Town/Village:</label>
		                       <input id="town_village" type="text" name="town_village" value="">
		                    </td>
                      	</tr>
                      	<tr>
                      		<td>
		                       <label for="district">District:</label>
		                       <input id="district" type="text" name="district" value="">
	                       </td>
                           <td>
	                           	<label for="job_type">Job Type:</label>
	                           	<select>
	                           		<option value="None">---------</option>
	                           		{% for job in job_types %}
	                           			<option value={{ job }}>{{ job }}</option>
	                           		{% endfor %}
	                           	</select>
                           </td>
                       </tr>
                      <tr>
                      		<td>
		                        <label for="description">Description:</label><br>
		                        <textarea rows="4" cols="50" id="description" name="description" value=""></textarea>
                        	</td>
                      </tr>
                      <tr>
				  </tr>
				  <tr><td>Location</td></td></tr>
				  <tr>
				  	<td>
				  		<div id="mapCanvas" style="width:680px;height:380px;"></div>
				  	</td>
				  </tr>
    <div id="info"></div>
    <b>Closest matching address:</b>
    <div id="address"></div><br></td></tr>
                    </tbody>
                  </table>
                  <div class="form-group">
                  	<button class="btn btn-primary" type="submit" value="submit" name="job" id="job">Submit Job</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </form>
         </div>
{% endblock %}
