{% extends "base.html" %}
<style>
.kv-avatar .file-preview-frame,.kv-avatar .file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}
.kv-avatar .file-input {
    display: table-cell;
    max-width: 220px;
}
</style>



{% block content %}

<form class="form-inline" action="{% url 'job_posting_url' %}" method="post">
        	{% csrf_token %}
          <div class="panel panel-info">
          	<table>
	            <div class="panel-heading">
	              <h3>Add a new Job</h3><h3 class="panel-title"></h3>
	            </div>
            </table>
            <div class="panel-body">
              <div class="row"> 
                <div class=" col-md-9 col-lg-9 ">
                <div id="markerStatus"><i>Click and drag the marker.</i></div>
                <input type="hidden" name="latitude" id="latitude" value="latitude"><br> <input type="hidden" name="longitude" id="longitude" value="longitude"> 
                  <table class="table table-user-information">
                    <tbody>
                      	<tr>
                      		<td>
		                       <label for="district">District: </label>
		                       <select name="district_select" id="district_select" onchange="getDistrict(this)">
		                       		<option value="None">---------</option>
	                           		{% for district in districts %}
	                           			{% if district_name == district %}
	                           				<option value={{ district }} selected>{{ district }}</option>
	                           			{% else %}
	                           				<option value={{ district }}>{{ district }}</option>
	                           			{% endif %}
	                           		{% endfor %}
		                       </select>
	                       </td>
	                       <td>
		                       <label for="town_village">Town/Village:</label>
		                       <select name="town_village_select" id="town_village_select" onchange="getTownVillage(this)">
		                       		<option value="None">---------</option>
	                           		{% for town_village in town_villages %}
	                           			{% if town_village_name ==  town_village %}
	                           				<option value={{ town_village }} selected>{{ town_village }}</option>
	                           			{% else %}
	                           				<option value={{ town_village }}>{{ town_village }}</option>
	                           			{% endif %}
	                           		{% endfor %}
		                       </select>
		                    </td>
                       </tr>
                       <tr>
                      		<td>
		                       <label for="street">Street:</label>
		                       <select name="street_select" id="street_select" onchange="getStreet(this)">
		                       		<option value="None">---------</option>
	                           		{% for street in streets %}
	                           			{% if street_name == street %}
	                           				<option value={{ street }} selected>{{ street }}</option>
	                           			{% else %}
	                           				<option value={{ street }}>{{ street }}</option>
	                           			{% endif %}
	                           		{% endfor %}
		                       </select>
		                    </td>
		                    <td>
	                           	<label for="job_type">Job Type:</label>
	                           	<select name="job_type" id="job_type">
	                           		<option value="None">---------</option>
	                           		{% for job in job_types %}
	                           			<option value={{ job }}>{{ job }}</option>
	                           		{% endfor %}
	                           	</select>
                           </td>
                      	</tr>
                      <tr>
                      		<td>
		                        <label for="description">Description:</label><br>
		                        <textarea rows="4" cols="50" id="description" name="description" value=""></textarea>
                        	</td>
                      </tr>
				  <tr><td>Location</td><td></td></tr>
				  <tr>
				  	<td>
				  		<div id="mapCanvas" style="width:680px;height:380px;"></div>
				  	</td>
				  </tr>
    <div id="info"></div>
    <b>Closest matching address:</b>
    <div id="address"></div><br></td></tr>
                    </tbody>
                  </table>
                  <div class="form-group">
                  	<button class="btn btn-primary" type="submit" value="submit" name="job" id="job">Submit Job</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </form>
	 <script>
	 function getDistrict(district_select) {
		    var d = district_select.value;
		    window.location="{% url 'job_posting_url' %}?district_name="+d;
		}
	 function getTownVillage(town_village_select) {
		 var dist = document.getElementById("district_select").value;
		 var tv = town_village_select.value;
		 window.location="{% url 'job_posting_url' %}?town_village_name="+tv+"&district_name="+dist;
		}
	 function getStreet(street_select) {
		 var dist = document.getElementById("district_select").value;
		 var tv = document.getElementById("town_village_select").value;
		 var st = street_select.value;
		 window.location="{% url 'job_posting_url' %}?street_name="+st+"&town_village_name="+tv+"&district_name="+dist;
		}
	 </script>
{% endblock %}
