{% extends "base.html" %}
 
{% block content %}
	<!--<div class="container">-->
	<!-- <div class="jumbotron">-->
		<div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Job</h3>
            </div>
            <div class="panel-body">
		      	<table id="master_job" class="table table-striped table-bordered" cellspacing="0" width="100%">
		      			<thead>
				            <tr>
				                <th>Posted By</th>
				                <th>Job Type</th>
				                <th>Description</th>
				                {% if loggedin_user_profile.account_type == 'artisan' %}
				                	<th>Add Another Quote</th>
				                {% endif %}
				            </tr>
				        </thead>
				        <tbody>
			      			<tr>
			      				<td>
			      					{{job.posted_by.user.username}}
			      				</td>
			      				<td>
			      					{{job.job_type.name}}
			      				</td>
			      				<td>
			      					{{job.description}}
			      				</td>
			      				{% if loggedin_user_profile.account_type == 'artisan' %}
				      				<td>
				      					<form action="{% url 'quote_url' job.pk %}" method="get">
					        				{% csrf_token %}
					        				<input name="hidden_job_id" type="hidden" value="{{job.pk}}">
					        				{% if job.allow_add_quote %}
					        					<button type="submit" class="btn btn-primary">Add New Quote</button>
					        				{% else %}
					        					<button type="submit" class="btn btn-primary" disabled>Add New Quote</button>
					        				{% endif %}
					        			</form>
				      				</td>
				      			{% endif %}
			      			</tr>
			      		</tbody>
		      		</table>
		      </div>
        </div>
        <!--<div class="row">-->
		<div class="col-md-9">
		<div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Quotations Against Job</h3>
            </div>
            <div class="panel-body">
	        	<table id="quotations" class="table table-striped table-bordered" cellspacing="0" width="100%">
			        <thead>
			            <tr>
			                <th>currency</th>
			                <th>amount</th>
			                <th>accepted</th>
			                {% if loggedin_user_profile.account_type == 'customer' %}
			                	<th>accept</th>
			                {% endif %}
			            </tr>
			        </thead>
			        <!--<tfoot>
			            <tr>
			                <th>currency</th>
			                <th>amount</th>
			                <th>accepted</th>
			            </tr>
			        </tfoot>-->
			        <tbody>
			        	{% for quote in quotes %}
				            <tr>
				                <td>{{quote.currency}}</td>
				                <td>{{quote.amount}}</td>
				                <td>
				                	<form id="accept_quote_form" action="{% url 'quote_url' job.pk %}" method="post">
				                		{% csrf_token %}
				                		<input name="quote_id" type="text" value={{quote.pk}} hidden>
				                		<input name="currency" type="text" value={{quote.currency}} hidden>
				                		<input name="amount" type="text" value={{quote.amount}} hidden>
				                		<input name="estimate_hours" type="text" value={{quote.estimate_hours}} hidden>
				                		<input name="rate_per_hour" type="text" value={{quote.rate_per_hour}} hidden>
					                	{% if quote.accepted %}
					                		<input name="accepted" type="checkbox" checked disabled>
					                	{% else %}
					                		{% if loggedin_user_profile.account_type == 'customer' %}
					                			<input name="accepted" type="checkbox">
					                		{% else %}
					                			<input name="accepted" type="checkbox" disabled>
					                		{% endif %}
					                	{% endif %}
					                </form>
				                </td>
				                {% if loggedin_user_profile.account_type == 'customer' %}
					                <td>
					                	{% if quote.accepted %}
					                		<button class="btn btn-primary" value="accept" name="accept_quote" id="accept_quote" disabled>Submit</button>
					                	{% else %}
					                		<button class="btn btn-primary" value="accept" name="accept_quote" id="accept_quote">Submit</button>
					                	{% endif %}
					                </td>
				                {% endif %}
				            </tr>
			            {% endfor %}
			        </tbody>
    			</table>
		   </div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Recommended</h3>
            </div>
            <div class="panel-body">
            </div>
        </div>
	</div>
	<!--</div>
    </div>
    </div>-->
<script>
	$(document).ready(function() {
	    $('#quotations').DataTable();
	});
	
	$("#accept_quote").click(function(event) {
		$("#accept_quote_form").submit();
	});
</script>
{% endblock %}