.login {
	position: absolute;
    font-size: 18px;
    top: 8px;
    right: 16px;
    margin-top: 45px;
}

#footer {
   padding:3.5em 0;	
   bottom:0;
   width:100%;
   background:red; /* #6cf */
   text-align:center;
   height:auto;
}

.rounded {
  border-radius: 10px;
}