{% extends "base.html" %}
 
{% block content %}
<!-- Contact Section -->
<div class="container">
<div class="jumbotron"> 
    <section id="contact" style="background:white;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Contact Us</h2>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Email Address</label>
                                <input type="email" class="form-control" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Phone Number</label>
                                <input type="tel" class="form-control" placeholder="Phone Number" id="phone" required data-validation-required-message="Please enter your phone number.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Message</label>
                                <textarea rows="5" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
                  <div class="col-lg-4">
		              <address>
		    			<strong>Moro Group</strong><br>
		    			Masa Center<br>
		    			Botswana,
		    			Gaborone<br>
		    			<abbr title="Phone">P:</abbr> (+267) 390 1339
		    		</address>
		    		<div class="span8">
		    			
        				<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.bw/maps?f=q&source=s_q&hl=en&geocode=&q=Masa+Square=t&sll=25.9019238, -24.6525517&sspn=8.047465,13.666992&ie=UTF8&hq=&hnear=Masa+Square,+Hythe+CT21+5SH,+Gaborone+Botswana&t=m&z=14&ll=25.9019238,24.6525517&output=embed"></iframe>
  						<!-- 
    					<iframe
						  width="600"
						  height="450"
						  frameborder="0" style="border:0"
						  src="https://www.google.com/maps/embed/v1/place?key=YOUR_API_KEY
						    &q=Space+Needle,Seattle+WA" allowfullscreen>
						</iframe> -->
    				</div>
                  </div>
            </div>
        </div>
    </section>
    </div>
    </div>
 {% endblock %}